@import 'MastProfile.css';

#desktop-comparator {
  display: table;
  margin-left: auto;
  margin-right: auto;
  white-space: nowrap;
}

.app-header {
  text-align: center;
}

#filter {
  display: inline-block;
  width: 120px;
  margin-right: 10px;
  vertical-align: top;
}

#desktop-comparator table {
  display: inline-block;
  border-spacing: 0;
  border-left: 1px solid black;
  border-top: 1px solid black;
}

#desktop-comparator thead {
  background-color: lightgrey
}

#desktop-comparator th, td {
  margin: 0;
  padding: 0.5rem;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  text-align: center;
  :last-child {
    border-right: 0;
  }
}

td.header {
  font-weight: bold;
  background-color: lightgrey
}

td.mast-name {
  text-align: left;
}

td.selected-profile {
  background-color: greenyellow;
}

span.clickable {
    cursor: pointer
}

span.left-padded {
    padding-left: 8px;
}

span.padded {
    padding-left: 8px;
    padding-right: 8px;
}

button.plain {
    background: none;
    margin: 0;
    border: none;
    cursor: pointer
}

button.sort {
    padding: 1px;
}

button.bigger {
    font-size: 20px;
}

button.hypertext {
    color: blue;
    text-decoration: underline;
}

button.profile-group-header {
    color: black;
    font-weight: bold;
}

.highlighted {
  filter: brightness(125%);
}
