body {
  padding: 1rem;
}

#comparator {
  white-space: nowrap;
}

#filter {
  display: inline-block;
  width: 120px;
  margin-right: 10px;
  vertical-align: top;
}

table {
  display: inline-block;
  border-spacing: 0;
  border: 1px solid black;
}

tr {
  :last-child {
    td {
      border-bottom: 0;
    }
  }
}

thead {
  background-color: lightgrey
}

th,
td {
  margin: 0;
  padding: 0.5rem;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  text-align: center;

  :last-child {
    border-right: 0;
  }
}

td.header {
    font-weight: bold;
    background-color: lightgrey
}

td.mast-name {
  text-align: left;
}

td.selected-profile {
  background-color: greenyellow;
}

span.clickable {
    cursor: pointer
}

span.left-padded {
    padding-left: 8px;
}

span.padded {
    padding-left: 8px;
    padding-right: 8px;
}

button.plain {
    background: none;
    margin: 0;
    border: none;
    cursor: pointer
}

button.sort {
    padding: 1px;
}

button.bigger {
    font-size: 20px;
}

button.hypertext {
    color: blue;
    text-decoration: underline;
}

button.profile-group-header {
    color: black;
    font-weight: bold;
}

.hard-top {
  background: #00a3e2;
}

.hard-top {
  background: #00a3e2;
}

.constant-curve {
  background: #c2cd2d;
}

.flex-top {
  background: #eb5834;
}

.highlighted {
  filter: brightness(125%);
}
