.block {
  display: block
}

label.group {
  display: block;
  padding-bottom: 0.3em;
  font-weight: bold;
}

div.group {
  white-space: normal;
}

div.group:nth-child(n+2) {
  padding-top: 0.7em;
}

button.name-prefix {
  background: none;
  color: black;
  border: 2px solid black;
  border-radius: 4px;
  margin: 1px;
  padding: 0.3em;
  cursor: pointer;
}

button.name-prefix:hover {
  font-weight: bold;
}

button.name-prefix-checked {
  background: grey;
  color: white;
  font-weight: bold;
}

button.clear {
  margin-top: 0.3em;
}

